.hobby-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  padding: 1rem;
}

.firstcard {
  display: flex;
  width: 85%;
  margin: 1rem auto;
}
.imag-card {
  width: 70%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 3;
}
.text-card {
  display: flex;
  position: absolute;
  margin: 1rem auto;
  width: 50%;
  height: 70%;
  top: 20%;
  left: 40%;
  z-index: 4;
  background-color: #fff;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}
.text-card > ul {
  width: 80%;
  margin: 2rem auto;
  font-size: 1.1rem;
  line-height: 1.3rem;
}
.text-card > h2 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  .hobby-container {
    width: 100%;
  }
  .text-card > h2 {
    font-size: 2rem;
  }
  .firstcard {
    flex-direction: column;

    width: 95%;
  }
  .imag-card {
    width: 100%;
    height: 50vh;
    margin: 0.5rem 0;
    background-size: cover;
    background-position: left;
  }

  .text-card {
    position: static;
    margin: 0;
    width: 100%;
    font-size: 1rem;
  }
}
